body{
    margin:0;
    padding:0;
    background: rgb(165,51,82);
    background: linear-gradient(90deg, rgba(165,51,82,1) 13%, rgba(116,120,194,1) 55%);
    background-size: cover;
/*     min-height:100vh; */
    background-repeat: no-repeat;
}

h2{
    font-weight: 400;
    color: white;
    padding-top:20px;
    margin-top: 0;
}

p{
    color:white;
    font-weight: 400;
}

input{
    color:white;
}

.cloud{
    position: relative;
}

.sun{
    position: absolute;
    margin-left:-30px;
}

.cards{
    margin-top: -150px;
    height: 450px;
    width:250px;
    text-align:center;
    color:white;
    background: rgb(165,51,82);
    background: linear-gradient(270deg, rgba(165,51,82,1) 5%, rgba(164,66,106,1) 17%, rgba(162,104,168,1) 53%, rgba(161,120,194,1) 100%);
    border-radius: 65px 15px 45px 15px;
}
.cards h5{
    margin-top:0;
}

.carousel{
    height: 600px;
}

.error{
    background: rgb(218, 78, 78);
    border: 2px solid rgb(162, 30, 30);
    border-radius: 5px;
    text-align:center;
}

.bold{
    font-weight: bold;
}

@media(max-width: 650px){
    .cards{
        width:100%;
    }
}
